.flex {
    display: flex;

}

.row {
    flex-direction: row;
}

.column {
    flex-direction: column;
}

.between {
    justify-content: space-between;
}

.start {
    justify-content: flex-start;
}

.center {
    justify-content: center;
}

.end {
    justify-self: end;
}

.start {
    justify-content: start;
}

.left {
    justify-content: left;
}

.right {
    justify-content: right;
}