.flex {
    display: flex;

}

.row {
    flex-direction: row;
}

.column {
    flex-direction: column;
}

.between {
    justify-content: space-between;
}

.start {
    justify-content: flex-start;
}

.center {
    justify-content: center;
}