.mainpage {
    padding-left: 2px;
    color: antiquewhite;
    font-size: 1em;
    background-color: darkslategrey;
    /* height: 200px; */
}

.intro {
    padding-left: 12px;
    padding-right: 12px;
}

.example {
    color: aquamarine;
}

.first-letter {
    color: white;
    font-weight: 900;
    font-size: 1.2em;
}

.head-intro {
    color: white;
    font-weight: 900;
    font-size: 1.2em;

}