.link {
    display: inline-block;
    width: 100px;
    font-size: 1em;
    text-align: center;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 5px;
    height: 20px;
    background-color: #2f5f5f;
    border-width: 0;
    border-radius: 15px;
    color: lightsalmon;
    font-size: 1em;
    text-decoration: none;
    border: 1px solid lightsalmon;
}

.link-container {
    width: 380px;
    margin-bottom: 20px;
}

.clock {
    color: lightsalmon;
    font-size: 1.3em;
    margin-top: 5px;
    background-color: #2f5f5f;
    height: 20px;
    width: 100px;
    text-align: center;
    border-radius: 15px;
    border: 1px solid lightsalmon;
}