* {
    padding: 0;
    margin: 0;
}

body {
    background: #308030;
}

header {
    background: #10a030;
    width: 100%;
    height: 40px;
    /* position: fixed; */
    right: 0;
    top: 40;
}

footer {
    background: #308010;
    height: 40px;
    /* position: fixed; */
    left: 0px;
    bottom: 0px;
    width: 100%;
}

main {
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 2px;
    padding-right: 2px;
    font-size: 1.3em;
}

.table-place {
    height: 400px;
}

@media (min-width: 481px) and (max-width: 768px) {
    body {
        background: #505000;
    }

    main {
        font-size: 0.9em;
    }
}

@media (min-width: 769px) {
    body {
        background: #505050;
    }

    main {
        font-size: 1.3em;
    }
}